<h3>View Carte Details</h3>
<div>
    <div>
        <label>
            <b>Nume:</b>
        </label> {{carte.name}}
    </div>
    <div>
        <label>
            <b>Autor:</b>
        </label> {{carte.autor}}
    </div>
    <div>
        <label>
            <b>Numar de pagini:</b>
        </label> {{carte.nrPag}}
    </div>
    <div>
        <label>
            <b>Stare:</b>
        </label> {{carte.stare}}
    </div>
    <div>
        <label>
            <b>Pret:</b>
        </label> {{carte.pret}}
    </div>
</div>
